doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Manipal Information and Security Team is a team of the Manipal Institute of Technology, Manipal that is commited to spread awareness about Cyber Security')
  meta(name='keywords' content='security,cybersecurity,hacking,hacker,manipal,mit,udupi')
  meta(name='author' content='Yash Aryan')
  link(rel='icon', href='http://drive.google.com/uc?export=view&id=1T96CLtCEN_KQPS_KbMU3bwrx6OUp71tW', type='image/icon type')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', type='text/css', href='./stylings/homeStyling.css')
  script(src='./scripts/home.js')
  title MIST
body(onload='switchToCLI()')
  #container
    #grubSide
      #grubTitle
        h2#grubHome
          | Manipal Information Security Team
          | &nbsp-&nbsp
          | version - BETA_6.2.3-def:28.03.2020
      #grubSelector
        #CLImode(onmouseover='switchToCLI()' onclick='goToCLIPage()')
          p#cliText
            | Geek Mode (CLI mode) 
            br
            span.modeInfo Command Line Mode for the geek in you
        #GUImode(onmouseover='switchToGUI()' onclick='goToGUIPage()')
          p
            | Non-Geek Mode (GUI mode) 
            br
            span.modeInfo Graphical Mode for easy viewing
      #grubModeInfo
        p
          | Use the &larr; and &rarr; keys to select a mode.
          | Press enter to boot.
        p
          | If you are having trouble, contact the system administrator 
          a#mailMist(href='mailto:sudo@wearemist.in?Subject=Trouble%20operating%20the%20website')
            | sudo@wearemist.in
