doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Manipal Information and Security Team is a team of the Manipal Institute of Technology, Manipal that is commited to spread awareness about Cyber Security')
  meta(name='keywords' content='security,cybersecurity,hacking,hacker,manipal,mit,udupi')
  meta(name='author' content='Yash Aryan')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  title MIST
  script.
    document.onkeydown = checkKey;
    //function to detect the keypresses of up arrow and the down arrow
    function checkKey(buttonPress) {
    buttonPress = buttonPress || window.event;
    if (buttonPress.keyCode == "37" || buttonPress.keyCode == "39") {
    // detecting up or down key press
    const checkSelectedGUI = document.getElementById("GUImode");
    const checkSelectedCLI = document.getElementById("CLImode");
    const checkTextColor = document.getElementById("cliText");
    if (checkSelectedGUI.style.color == "black") {
    switchToCLI();
    } else if (checkSelectedCLI.style.color == "black") {
    switchToGUI();
    }
    } else if (buttonPress.keyCode == "13") {
    const checkSelectedGUI = document.getElementById("GUImode");
    if (checkSelectedGUI.style.color == "black") {
    window.location.replace("/nongeek");
    } else {
    window.location.replace("/geek");
    }
    }
    }
    function switchToGUI() {
    const guiSelector = document.getElementById("GUImode");
    guiSelector.style.backgroundColor = "whitesmoke";
    guiSelector.style.color = "black";
    const cliSelector = document.getElementById("CLImode");
    cliSelector.style.color = "white";
    cliSelector.style.backgroundColor = "#2a6296";
    }
    function switchToCLI() {
    const cliSelector = document.getElementById("CLImode");
    cliSelector.style.backgroundColor = "whitesmoke";
    cliSelector.style.color = "black";
    const guiSelector = document.getElementById("GUImode");
    guiSelector.style.color = "white";
    guiSelector.style.backgroundColor = "#2a6296";
    }
    function goToCLIPage() {
    window.location.replace("/Geek");
    }
    function goToGUIPage() {
    window.location.replace("/nonGeek");
    }
  style.
    * {
    border: 0;
    margin: 0;
    padding: 0;
    }
    #container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #486e91;
    }
    #grubSide {
    width: 75vw;
    height: 80vh;
    margin: auto;
    }
    #grubTitle {
    height: 5vh;
    width: 100%;
    text-align: center;
    color: white;
    }
    #grubSelector {
    height: 60vh;
    width: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    background-color: #2a6296;
    display: grid;
    grid-template-columns: auto auto;
    }
    #grubModeInfo {
    height: 15vh;
    width: 100%;
    color: white;
    }
    #grubModeInfo > p {
    font-size: 3vh;
    text-align: center;
    margin-top: 2vh;
    }
    #mailMist {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    }
    #CLImode {
    color: black;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    text-align: center;
    }
    #CLImode > p {
    margin-top: 30%;
    }
    #GUImode {
    color: white;
    background-color: #2a6296;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    text-align: center;
    }
    #GUImode > p {
    margin-top: 31.5%;
    }
    .modeInfo {
    font-size: 3vh;
    }


body(onload='switchToCLI()')
  #container
    #grubSide
      #grubTitle
        h2#grubHome
          | Manipal Information and Security Team
          | &nbsp-&nbsp
          | version - preALPHA_5.0.1-mist2020
      #grubSelector
        #CLImode(onmouseover='switchToCLI()' onclick='goToCLIPage()')
          p#cliText
            | Geek Mode (CLI mode) 
            br
            span.modeInfo Command Line Mode for the geek in you
        #GUImode(onmouseover='switchToGUI()' onclick='goToGUIPage()')
          p
            | Non-Geek Mode (GUI mode) 
            br
            span.modeInfo Graphical Mode for easy viewing
      #grubModeInfo
        p
          | Use the &larr; and &rarr; keys to select a mode.
          | Press enter to boot.
        p
          | If you are having trouble, contact the system administrator 
          a#mailMist(href='mailto:sudo@wearemist.in?Subject=Trouble%20operating%20the%20website')
            | sudo@wearemist.in
