@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(236, 236, 236);
  background-image: url("../images/backgrounds/curtains.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
    height: 100vh;
    width: 100vw;
    font-size: 60px;
    color: rgb(29, 29, 29);
    text-align: center;
    margin-top: 250px;
}