@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(236, 236, 236);
  background-color: #000;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

#navbar {
  padding-top: 3vh;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navItem > a {
  text-decoration: none;
  color: #fff;
}

.navItem {
  font-size: 3vh;
  color: #fff;
}

.navItem:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.navItem:last-child {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #fff;
}

#pageHeading {
  color: #fff;
  font-family: open-sans;
  text-align: center;
  margin-top: 7vh;
  font-size: 6vh;
}

#container {
  margin-top: 2vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: antiquewhite;
  text-align: center;
}

.gridTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vw;
  max-width: 25vw;
  min-width: 25vw;
  border-width: 0.5px;
  border-color: rgba(161, 161, 161, 0.212);
  border-style: solid;
  position: relative;
  overflow: hidden;
}

#creatorNameTag {
  text-align: left;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 100;
}

#creatorPhotoContainer {
  width: 100%;
  height: 100%;
  background-image: url("../images/backgrounds/creator.jpeg");
}

.hoverImage {
  opacity: 0.4;
  background-position: center;
  background-size: cover;
}

.hoverImage:hover {
  transform: scale(1.2);
  transition-duration: 4s;
  opacity: 0.9;
}

#technologyStackContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#techUsed {
  background-color: #fff;
}

.techStack {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 33%;
  width: 100%;
}

.techStack:hover {
  transform: scale(1.2);
  transition-duration: 4s;
}


.nodejs {
  background-image: url("../images/assets/nodejs.png");
}

.mongodb {
  background-image: url("../images/assets/mongodb.png");
}

.basicStack {
  background-image: url("../images/assets/basicStack.png");
}

.linkLib {
  color: rgb(168, 168, 168);
}

#logoCreatorTag {
  text-align: left;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 100;
}

#logoCreatorContainer {
  width: 100%;
  height: 100%;
  background-image: url("../images/backgrounds/logoCreator.jpg");
  background-position: center;
  background-size: cover;
}

.otherhoverImage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.otherhoverImage:hover {
  transform: scale(1.2);
  transition-duration: 4s;
  opacity: 0.9;
}

#image0 {
  background-image: url("../images/backgrounds/unsplash_logo.png");
  background-size: contain;
}

#image1 {
  background-image: url("../images/assets/cryptography.jpg");
}

#image2 {
  background-image: url("../images/assets/ctfs.jpg");
}

#image3 {
  background-image: url("../images/assets/webdev.jpg");
}

#image4 {
  background-image: url("../images/assets/cyberawareness.jpg");
}

#image5 {
  background-image: url("../images/assets/networking.jpg");
}

#image6 {
  background-image: url("../images/assets/networksecurity.jpg");
}

#endMessage {
  color: #fff;
  text-align: center;
  padding: 10vh 2vh 5vh 2vh;
}

@media screen and (max-width: 800px) {
  #container {
    grid-template-columns: auto auto;
  }
  .gridTile {
    height: 50vw;
    max-width: 50vw;
    min-width: 50vw;
    border-width: 0.5px;
    border-color: rgba(161, 161, 161, 0.212);
    border-style: solid;
    position: relative;
    overflow: hidden;
  }
}