#loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 4000;
  line-height: 100vh;
  text-align: center;
  color: white;
  }
  
  #loaderRipple {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  height: 10vh;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  animation-name: slowLoading;
  border-radius: 100%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: 5000;
  }
  
  #loaderContainer > p {
  width: fit-content;
  position: relative;
  margin: auto;
  animation-name: slowLoadingPara;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  
  }
  
  @keyframes slowLoading {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(4);
  }
  }
  
  @keyframes slowLoadingPara {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  }
  

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.bg-ambientdark {
  background-color: #212121;
}

.top-spacing > .card {
  border: 0;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.white-border {
  border-color: #fff;
}

footer {
  /* margin-top: 20vh; */
  height: fit-content;
  width: 100vw;
  background-color: #212529;
  color: #D3D3D3;
  z-index: 100;
}
  
.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  
.footerDivision:first-child {
  line-height: 15vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
  
.biggerText {
  font-size: 1.5rem;
}
  
.lightText {
  color: #6C757D;
}
  
.itemContainer {
  margin: auto;
}
  
.contact-us {
  font-size: 25px;
  margin-bottom: 10px;
  padding-left: 65vw;
}
  
#btn-1:hover, #btn-2:hover, #btn-3:hover, #btn-4:hover, #btn-5:hover, #btn-6:hover {
  transition-duration: 0.6s;
  color: #fff;
}
  
.copyright {
  text-align: center;
  padding-bottom: 15px;
  font-size: 23px;
  color: rgb(156, 156, 156);
}
  
.item:hover {
  color: rgb(204, 204, 204);
  transition-duration: 0.6s;
}

.mottoValuesCards {
  display: flex;
  flex-direction: row;
}
  
.mottoValuesCards:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: right;
}

div.scrollmenu {
  overflow-x: scroll;
  white-space: nowrap;
}

div.scrollmenu .card {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
}

.full-chart {
  width: 100vw;
}

.bg-cyan-light {
  background-color: rgba(8, 130, 201, 0.123);
}

.card-tag-holder {
  word-break: keep-all;  
}

.sidebar {
  position: fixed;
  flex-direction: column;
  padding-top: 5%;
  z-index: 1;
}

.modal-body{
  word-wrap: break-word;
}

.card {
  word-wrap: unset;
}

.bg-color1 {
  background-color: #7a45ec;
}

.bg-color2 {
  background-color: #00796b;
}

.bg-color3 {
  background-color: #607d8b;
}

.bg-darkTransparent {
  background-color: rgba(0, 0, 0, 0.418);
}

.linkToOriginal:hover {
  color: rgb(53, 53, 53) !important;
  cursor: pointer;
}

.sourceInformation {
  width: 90%;
  margin: 0 auto;
  word-wrap: normal;
  word-break: keep-all;
}

.sourceWebsite {
  word-break: keep-all;
}

.sourceWebsite:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#newsBulletin {
  display: grid;
}

.paraFilterSelector:hover {
  background-color: rgba(67, 130, 202, 0.315);
  cursor: pointer;
}

.filterSelector:hover {
    cursor: pointer;
    color: rgb(104, 104, 196) !important;
}

.clubAnnouncementCardHorizontal:hover {
  cursor: pointer;
}

.clearFilter {
  cursor: pointer;
}