@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

:root {
  --paraTextColor: #707070;
  --sectionHeaderColor: #252525;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Merriweather", serif;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
}

/* For the loading screen */
#loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  line-height: 100vh;
  text-align: center;
  color: white;
}

#loaderRipple {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  height: 10vh;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  animation-name: slowLoading;
  border-radius: 100%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: -1;
}

#loaderContainer > p {
  width: fit-content;
  position: relative;
  margin: auto;
  animation-name: slowLoadingPara;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  
}

@keyframes slowLoading {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes slowLoadingPara {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#subscribeFillForm {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.98);
  position: fixed;
  z-index: 300;
}

#formBoxSubscribe {
  display: block;
  width: 25%;
  min-height: fit-content;
  height: 80%;
  background-color: rgb(106, 106, 214);
  margin: 0 auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

#formContainerSubscribe > form {
  margin-top: auto;
  margin-bottom: auto;
}

#formBoxHeader {
  height: 25%;
  color: rgb(106, 106, 214);
  background-color: #fff;
  position: relative;
  border-radius: 10px 10px 0 0;
}

#formBoxHeader > p {
  position: absolute;
  right: 0;
  font-size: 25px;
  padding-right: 30px;
  padding-top: 10px;
}

#formBoxHeader > p:hover {
  color: rgb(0, 0, 0);
}

#formBoxHeader > h1 {
  font-size: 25px;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

#inputTextBoxes {
  width: 90%;
  margin: auto;
}

.inputBOXsubscribe {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  border-radius: 50%;
}

#subscriberName, #subscriberEmail {
  background-color: rgb(0, 0, 0, 0);
  width: 100%;
  height: 5vh;
  text-indent: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0px 0px 2px 0px;
  color: #fff;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255, 255, 255);
}

#checkBoxMessage {
  width: 95%;
  margin: 25px auto 10px auto;
  text-align: center;
  color: rgb(245, 245, 245);
}

#checkBOXsubscribe {
	display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px auto;
  width: 95%;
  position: relative;
  margin-bottom: 30px;
  color: #fff;
}

#BOX {
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

#BOX > label {
  margin-top: auto;
  margin-bottom: auto;
}

.checkBOX {
  -webkit-appearance: none;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	display: inline-block;
  position: relative;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.checkBoxLabel .checkBOX {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
  outline: none;
}

.checkBOX:active, .checkBOX:checked:active {
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px rgb(111, 31, 240), 0 0 8px rgb(89, 12, 233), 0 0 10px rgb(103, 9, 211), 0 0 12px rgb(6, 134, 238), 0 0 14px rgb(39, 160, 207);
}

.checkBOX:checked {
	background-color:  rgb(0, 0, 0);
	border: 1px solid  rgb(0, 0, 0);
  color: #0e3b5e;
  outline: none;
}

.checkBOX:checked:after {
	content: '\2713';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
  color: #ffffff;
  outline: none;
}

#submitSubscribeButtn {
  display: block;
  width: 40%;
  height: 45px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(111, 31, 240);
  font-size: 15px;
  margin: 40px auto auto auto;
}

#submitSubscribeButtn:hover {
  background-color: #fff;
  color: rgb(106, 106, 214);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(106, 106, 214);
}

#responsiveNavbar {
  display: none;
}

#navbar {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  color: rgb(207, 207, 207);
  position: fixed;
  justify-content: center;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #000000;
}

.linkBox {
  margin: auto 25px;
  font-size: 20px;
}

#navbarScroll {
  width: 100vw;
  display: none;
  color: rgb(207, 207, 207);
  position: fixed;
  justify-content: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.76);
}

#navbarScroll > #LOGO {
  border-color: aliceblue;
}

.linkBoxScroll {
  margin: auto 12.5px;
  font-size: 20px;
}

#pageHeaderScroll {
  margin: 1vh;
  font-size: 3vh;
  color: white;
  text-align: center;
  margin-right: 3vh;
  margin-left: 3vh;
  color: rgb(255, 255, 255);
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}

.linksNavibar {
  color: white;
}

.linkBox:hover {
  transform: scale(1.04);
  transition-duration: 1s;
}

.linkBox > a:hover {
  color: #313131;
  transition-duration: 0.8s;
}

#LOGO {
  font-weight: bold;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 2px 3px;
}

#pageHeader {
  text-align: center;
  font-size: 25px;
  margin: auto 3vh;
  color: rgb(0, 0, 0);
  font-family: "Exo 2", sans-serif;
}

#container {
  position: relative;
}

#headBar {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/backgrounds/newsPage.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  font-size: 3vh;
}

#headerTitle {
  position: relative;
  width: 15vw;
  left: 4vw;
  top: 60%;
  color: rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  font-weight: bolder;
}

#newsHeads {
  position: relative;
  height: 20vh;
  width: 100vw;
  text-align: center;
  line-height: 20vh;
}

#newsHeads > h1 {
  margin-left: auto;
  margin-right: auto;
}

#newsBars {
  width: 94vw;
  background-color: rgb(255, 246, 247);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 60px;
  justify-content: space-around;
}

.newsPart {
  width: 25vw;
  /* text-align: center; */
}

.newsPhoto {
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  height: 40vh;
  margin-bottom: 10px;
}

.newsTitle {
  padding: 2px 10px;
}

#footNotes {
  margin-top: 100px;
  position: relative;
  bottom: 0;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#pageName {
  width: 47vw;
  color: rgb(255, 255, 255);
  padding: 20px 0;
  margin-bottom: 30px;
}

#pageName > h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 6vh;
}

#pageName > p {
  margin-top: 6px;
  font-size: 1.4vh;
}

#subscribeForm {
  background-color: rgb(169, 206, 36)(136, 25, 25);
  color: #fff;
  width: 47vw;
  padding-bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

#subscribeForm > p {
  padding-bottom: 10px;
}

#mailSubmit {
  height: 60px;
  width: 150px;
  background-color: orange;
  font-size: 20px;
}

#mailSubmit:hover {
  color: orange;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }

  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  #headerTitle > h1 {
    font-size: 5vh;
  }

  #newsHeads > h1 {
    font-size: 5vh;
  }

  #newsBars {
    grid-template-columns: auto auto;
    width: 100vw;
  }

  .newsPart {
    width: 45vw;
    /* text-align: center; */
  }
  
  .newsPhoto {
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-bottom: 10px;
  }
  
  .newsTitle {
    padding: 2px 10px;
    color: #000;
    font-size: 2.5vh;
  }

  /* For responsive navigation bar */
  #responsiveNavbar {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #responsiveNavItems {
    padding-top: 20px;
    width: 100vw;
    margin: auto;
    height: 40px;
    display: none;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    justify-content: space-between;
    font-size: 3vh;
  }
  
  #barContainer {
    height: fit-content;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4vw;
    font-size: 5vh;
    transform: rotate(90deg);
    color: #fff;
    right: 0;
    transition-duration: 500ms;
  }

  a {
    color: #fff;
  }

  #resNavbarLogo {
    color: #fff;
    display: block;
    margin-left: 15px;
    font-size: 4vh;
    line-height: 8vh;
  }

  #res_linkBox {
  margin-left: auto;
  margin-right: auto;
  }

  #navbar {
    display: none;
  }

  #navbarScroll {
    display: none;
  }

  /* footer design */
  
  #footNotes {
    margin-top: 100px;
    position: relative;
    bottom: 0;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  #pageName {
    width: 100vw;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  
  #pageName > h1 {
    font-size: 5vh;
    margin: auto;
  }

  #subscribeForm {
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 2vh;
  }

  #mailSubmit {
    height: 60px;
    width: 200px;
    background-color: orange;
    font-size: 20px;
  }
  
  #mailSubmit:hover {
    color: orange;
    background-color: #fff;
  }

    /* for the subscribe option menu */
    #formBoxHeader {
    height: 25%;
    color: rgb(106, 106, 214);
    background-color: #fff;
    position: relative;
  }

  #formBoxSubscribe {
    width: 95%;
    height: 95%;
  }

  #formBoxHeader > p {
    padding-right: 10px;
    padding-top: 5px;
  }

  #formBoxHeader > h1 {
    font-size: 5vh;
    padding-left: 10px;
  }

  label {
    font-size: 3vh;
  }

  #checkBoxMessage {
    font-size: 3vh;
  }

  #subscriberName, #subscriberEmail {
    width: 100%;
    height: 5vh;
    font-size: 2.5vh;
  }

  #inputTextBoxes {
    width: 95%;
    margin: auto;
  }

  #checkBOXsubscribe {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  #BOX {
    width: 50%;
    text-align: left;
    margin: 0 auto;
  }

  #BOX:last-child {
    margin-bottom: 40px;
  }

  #formContainerSubscribe > form {
    margin-top: 25px;
  }

  #subscriberName, #subscriberEmail {
    height: 6vh;
  }

  #submitSubscribeButtn {
    width: 62%;
    height: 5vh;
    border-radius: 20px;
    font-size: 4vh;
  }
  #submitSubscribeButtn {
    margin: 10px auto auto auto;
  }
}

@media screen and (max-width: 450px) {
  #newsBars {
    grid-template-columns: auto;
    width: 100vw;
  }

  .newsPart {
    width: 95vw;
    /* text-align: center; */
  } 
}