html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body {
  overflow-x: hidden;
}

footer {
  margin-top: 20vh;
  height: fit-content;
  width: 100vw;
  background-color: #212529;
  color: #D3D3D3;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerDivision:first-child {
  line-height: 15vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.biggerText {
  font-size: 1.5rem;
}

.lightText {
  color: #6C757D;
}

.itemContainer {
  margin: auto;
}

.contact-us {
  font-size: 25px;
  margin-bottom: 10px;
  padding-left: 65vw;
}

#btn-1:hover, #btn-2:hover, #btn-3:hover, #btn-4:hover, #btn-5:hover, #btn-6:hover {
  transition-duration: 0.6s;
  color: #fff;
}

.copyright {
  text-align: center;
  padding-bottom: 15px;
  font-size: 23px;
  color: rgb(156, 156, 156);
}

.item:hover {
  color: rgb(204, 204, 204);
  transition-duration: 0.6s;
}

.mottoValuesCards {
  display: flex;
  flex-direction: row;
}

.mottoValuesCards:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: right;
}

.sectionBox {
  padding: auto 5vw;
}

.homepage {
  width: 100vw !important;
  height: 100vh;
  background-image: url("../images/backgrounds/homeBackground.jpg");
  background-position: center center;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.233);
}

.homeBanner {
  padding: 5vh 5vw;
  background-color: rgba(0, 0, 0, 0.623);
  text-align: center;
  border-radius: 12px;
  color: #fff;
}

.history-flow-chart {
  height: 85vh;
  overflow-y: scroll;
  background-image: url("../images/backgrounds/worldMap.jpg");
  background-position: center;

  background-attachment: fixed;
}

/* width */
.history-flow-chart::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.history-flow-chart::-webkit-scrollbar-track {
  background: #c0c0c0;
}

/* Handle */
.history-flow-chart::-webkit-scrollbar-thumb {
  width: 20px;
  background: rgb(61, 61, 61);
}

.contactImageContainer {
    background-image: url("../images/assets/contactIllustration.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.socialLinks:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

/* For the loading screen */
#loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  line-height: 100vh;
  text-align: center;
  color: white;
}

#loaderRipple {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 10vh;
  height: 10vh;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  animation-name: slowLoading;
  border-radius: 100%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  z-index: -1;
}

#loaderContainer > p {
  width: fit-content;
  position: relative;
  margin: auto;
  animation-name: slowLoadingPara;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  
}

@keyframes slowLoading {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes slowLoadingPara {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width:991px) {
.historyCards:nth-child(2n) {
  flex-direction: column-reverse;
}
}