@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --paraTextColor: #707070;
  --sectionHeaderColor: #252525;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

html {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
}

#navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  color: rgb(207, 207, 207);
  position: fixed;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

#LOGO {
  font-weight: bold;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  padding: 2px 3px;
}

.linkBox {
  margin: auto 25px;
  font-size: 2vh;
}

.linkBox:hover {
  transform: scale(1.04);
  transition-duration: 1s;
}

.linkBox > a:hover {
  color: #ffffff;
  transition-duration: 0.8s;
}

#header {
  height: 60vh;
  width: 100vw;
  margin: auto;
  text-align: center;
  /* background-color: rgb(0, 0, 0); */
  background-image: url("../images/assets/teams.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header > h1 {
  font-size: 5vh;
  padding-top: 25vh !important;
  color: aliceblue;
  padding-bottom: 2vh;
}

#applyButton {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border-width: 2.5px;
  border-style: solid;
  border-color: aliceblue;
  padding: 1.3vh 1vw;
  font-size: 2.5vh;
}

#applyButton:hover {
  background-color: aliceblue;
  color: black;
  transition-duration: 1s;
}

#howToApply {
  width: 90%;
  height: 90%;
  position: fixed;
  z-index: 200;
  background-color: rgb(0, 0, 0);
  left: 5%;
  right: 5%;
  top: 7%;
  bottom: 3%;
  border-radius: 15px;
  display: none;
  flex-direction: column;
}

#closeButton {
  font-size: 40px;
  width: 100%;
  height: min-content;
}

#Xbut {
  padding: 1vh 1.5vw;
  color: rgb(255, 255, 255);
  width: min-content;
  float: inline-end;
}

#Xbut:hover {
  color: rgb(196, 24, 24);
}

#contentApply {
  width: 93%;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 2vh auto;
}

#contentApply > h1 {
  padding-bottom: 2vh;
  font-weight: bold;
  text-shadow: 3px 3px 3px #9696968c;
}

howtoapply {
  font-size: 20px;
}

#teamLinksNavbar {
  width: 100vw;
  height: 6vh;
  display: flex;
  color: rgb(207, 207, 207);
  position: relative;
  justify-content: center;
  background-color: rgba(0, 0, 0);
}

.teamLinkBox {
  font-size: 2.5vh;
}

.teamLinkBox > p {
  text-decoration: none;
  color: #e0e0e0;
}

#cc,
#mc,
#wc {
  color: white;
  background-color: black;
  height: 6vh;
  line-height: 6vh;
}

#corec,
#manc {
  height: max-content;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 8vh;
  justify-content: space-around;
  font-size: 20px;
}

#workc {
  height: max-content;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 8vh;
  justify-content: space-around;
  font-size: 20px;
}

#ccLink,
#mcLink,
#wcLink {
  color: white;
  padding: 2vw;
}

.ccprofile {
  height: 70vh;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px #33333354;
}

.ccPhoto {
  margin-top: 0.5vh;
  height: 40vh;
  width: 29.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../images/assets/noProfile.jpg");
  background-position: center;
  background-size: cover;
}

.cmemberInfo {
  height: 29vh;
  width: 29.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cmemberName {
  margin-top: 3vh;
}

.cmemberPosition {
  font-size: 25px;
  font-weight: bold;
  color: rgb(71, 169, 207);
}

.mcprofile {
  height: 70vh;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px #33333354;
}

.mcPhoto {
  margin-top: 0.5vh;
  height: 40vh;
  width: 29.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../images/assets/noProfile.jpg");
  background-position: center;
  background-size: cover;
}

.mmemberInfo {
  height: 29vh;
  width: 29.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.mcmemberName {
  margin-top: 3vh;
}

.interestsMember {
  padding-top: 1vh;
  margin: auto;
}

.wcprofile {
  height: 50vh;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px #33333354;
}

.wcPhoto {
  margin-top: 0.5vh;
  height: 40vh;
  width: 19.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../images/assets/noProfile.jpg");
  background-position: center;
  background-size: cover;
}

.wmemberInfo {
  height: 9vh;
  width: 19.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.wcmemberName {
  font-size: 125%;
  line-height: 9vh;
}

#spacing {
  height: max-content;
  width: 100vw;
  position: relative;
  background-color: rgb(219, 219, 219);
  text-align: center;
}

#rightsReserved {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding-top: 8vh;
  padding-bottom: 5vh;
}
