@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --paraTextColor: #707070;
  --sectionHeaderColor: #252525;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

html {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
}

#responsiveNavbar {
  display: none;
}

#navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  color: rgb(207, 207, 207);
  position: fixed;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

#LOGO {
  font-weight: bold;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  padding: 2px 3px;
}

.linkBox {
  margin: auto 25px;
  font-size: 2vh;
}

.linkBox:hover {
  transform: scale(1.04);
  transition-duration: 1s;
}

.linkBox > a:hover {
  color: #ffffff;
  transition-duration: 0.8s;
}

#header {
  height: 60vh;
  width: 100vw;
  margin: auto;
  text-align: center;
  background-image: url("../images/assets/teams.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header > h1 {
  font-size: 5vh;
  padding-top: 25vh !important;
  color: aliceblue;
  padding-bottom: 2vh;
}

#applyButton {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border-width: 2.5px;
  border-style: solid;
  border-color: aliceblue;
  padding: 1.3vh 1vw;
  font-size: 2.5vh;
}

#applyButton:hover {
  background-color: aliceblue;
  color: black;
  transition-duration: 1s;
}

#howToApply {
  width: 90%;
  height: 90%;
  position: fixed;
  z-index: 200;
  background-color: rgb(238, 238, 238);
  left: 5%;
  right: 5%;
  top: 7%;
  bottom: 3%;
  border-radius: 15px;
  display: none;
  flex-direction: column;
}

#closeButton {
  font-size: 40px;
  width: 100%;
  height: min-content;
}

#Xbut {
  padding: 1vh 1.5vw;
  color: rgb(0, 0, 0);
  width: min-content;
  float: inline-end;
}

#Xbut:hover {
  color: rgb(255, 0, 0);
}

#contentApply {
  width: 93%;
  color: rgb(8, 8, 8);
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 2vh auto;
}

#contentApply > h1 {
  padding-bottom: 2vh;
  font-weight: bold;
  text-shadow: 3px 3px 3px #9696968c;
}

howtoapply {
  font-size: 20px;
}

#teamLinksNavbar {
  width: 100vw;
  height: 6vh;
  display: flex;
  color: rgb(207, 207, 207);
  position: relative;
  justify-content: center;
  background-color: rgba(0, 0, 0);
}

.teamLinkBox {
  font-size: 100%;
}

.teamLinkBox > p {
  text-decoration: none;
  color: #e0e0e0;
}

#cc,
#mc,
#wc {
  color: white;
  background-color: black;
  height: 6vh;
  line-height: 6vh;
}

#corec,
#manc {
  height: max-content;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 8vh;
  justify-content: space-around;
  font-size: 20px;
}

#workc {
  height: max-content;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 8vh;
  justify-content: space-around;
  font-size: 20px;
}

#ccLink,
#mcLink,
#wcLink {
  color: white;
  padding: 2vw;
}

.ccprofile {
  height: fit-content;
  width: 25vw;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px #33333354;
}

.ccPhoto {
  height: 50vh;
  width: 25vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cmemberInfo {
  height: 15vh;
  width: 25vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cmemberName {
  margin-top: 3vh;
  font-size: 20px;
}

.cmemberPosition {
  font-size: 20px;
  font-weight: bold;
  color: rgb(71, 169, 207);
}

.mcprofile {
  height: 70vh;
  width: 25vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px #33333354;
}

.mcPhoto {
  margin-top: 0.5vh;
  height: 60vh;
  width: 29.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

.mmemberInfo {
  height: 29vh;
  width: 25vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.mcmemberName {
  margin-top: 3vh;
  font-size: 20px;
}

.wcprofile {
  height: 10vh;
  width: 20vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px #33333354;
}

.wmemberInfo {
  height: 10vh;
  width: 19.5vw;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.wcmemberName {
  font-size: 80%;
  line-height: 10vh;
}

#spacing {
  height: max-content;
  width: 100vw;
  position: relative;
  background-color: rgb(219, 219, 219);
  text-align: center;
}

#rightsReserved {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding-top: 8vh;
  padding-bottom: 5vh;
}


@media screen and (max-width: 1000px) {
  /* navbar design */
  #navbar {
    display: none;
  }
  
  #responsiveNavbar {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
  }

  #responsiveNavItems {
    padding-top: 50px;
    position: absolute;
    width: 100vw;
    margin-top: 45px;
    height: 60vh;
    display: none ;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    justify-content: space-between;
    font-size: 20px;
  }
  
  #barContainer {
    display: flex;
    height: 45px;
    line-height: 20px;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.5s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px) ;
    transform: rotate(-45deg) translate(-4px, 4px) ;
    background-color: rgb(255, 72, 72);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
    background-color: rgb(255, 72, 72);
  }

  /* How to apply design  */
  #contentApply {
    width: 97%;
  }
  #contentApply > h1 {
    text-align: center;
    font-size: 50px;
  }
  howtoapply {
    font-size: 35px;
  }
  #closeButton {
    font-size: 60px;
  }

  /* Committee selection navbar design */
  .teamLinkBox {
    font-size: 100%;
    width: 33%;
    height:fit-content;
    text-align: center;
  }

  #ccLink, #mcLink, #wcLink {
    padding: 2px;
    width: max-content;
 }

  #teamLinksNavbar {
    height: fit-content;
  }

  .teamLinkBox {
    font-size: 100%;
    width: 33.33%;
  }

  /* cards display design */
  #corec,
  #manc {
    grid-template-columns: auto auto;
    row-gap: 1vh;
  }
  .ccprofile {
    height: 45vh;
    width: 48vw;
  }
  .ccPhoto {
    margin-top: 0vh;
    height: 30vh;
    width: 48vw;
  }
  .cmemberInfo {
    height: 15vh;
    width: 48vw;
  }

  .cmemberName {
    font-size: 12px;
  }

  .cmemberPosition {
    font-size: 10px;
  }

  .mcprofile {
    height: 40vh;
    width: 48vw;
  }
  
  .mcPhoto {
    margin-top: 0vh;
    height: 40vh;
    width: 48vw;
  }
  .mmemberInfo {
    height: 15vh;
    width: 48vw;
  }
  .wcmemberName {
    font-size: 15px;
    line-height: initial;
    margin-top: 15px;
  }

  #workc {
    grid-template-columns: auto auto auto;
    row-gap: 5px;
    font-size: 25px;
  }

  .wcprofile {
    height: 10vh;
    width: 32vw;
    margin: auto;
    box-shadow: none;
  }
  
  .wmemberInfo {
    height: 10vh;
    width: 30vw;
  }

  #closeButton {
    font-size: 40px;
    width: 100%;
    height: min-content;
  }
  
  #Xbut {
    padding: 1vh 1.5vw;
    color: rgb(0, 0, 0);
    width: min-content;
    float: inline-end;
  }
  
  #Xbut:hover {
    color: rgb(255, 0, 0);
  }
  
  #contentApply {
    width: 93%;
    color: rgb(0, 0, 0);
    overflow-y: scroll;
    scrollbar-width: none;
    margin: auto;
  }
  
  #contentApply > h1 {
    padding-bottom: 2vh;
    font-weight: bold;
    text-shadow: 3px 3px 3px #9696968c;
  }
  
  howtoapply {
    font-size: 16px;
  }
}