@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --paraTextColor: #707070;
  --sectionHeaderColor: #252525;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

html {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(to bottom right, #8800f8, #b41ea8);
  color: white;
}

#navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  color: rgb(207, 207, 207);
  position: fixed;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

#LOGO {
  font-weight: bold;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  padding: 2px 3px;
}

.linkBox {
  margin: auto 25px;
  font-size: 2vh;
}

.linkBox:hover {
  transform: scale(1.04);
  transition-duration: 1s;
}

.linkBox > a:hover {
  color: #ffffff;
  transition-duration: 0.8s;
}

body {
  text-align: center;
}

h1 {
  font-size: 15vh;
  padding-top: 25vh;
}

p {
  font-size: 3vh;
}

img {
  height: 30vh;
  width: 30vh;
  animation-name: rotateGear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 10s;
}

@keyframes rotateGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  /* navbar design */
  #navbar {
    display: none;
  }
  
  #responsiveNavbar {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
  }

  #responsiveNavItems {
    padding-top: 50px;
    position: absolute;
    width: 100vw;
    margin-top: 45px;
    height: 60vh;
    display: none ;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    justify-content: space-between;
  }
  
  #barContainer {
    display: flex;
    height: 45px;
    line-height: 20px;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.5s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px) ;
    transform: rotate(-45deg) translate(-4px, 4px) ;
    background-color: rgb(255, 72, 72);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
    background-color: rgb(255, 72, 72);
  }
}